


html {
    position: relative;
    min-height: 100%;
  }

body {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
  }

  header {
    margin-left: 10px;
    display: block;
    padding: 20px;
    margin-bottom: 5px;
    color: white;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    background: rgb(172, 112, 172);
    text-align: center;
    border: 50px;
    width: 400px;
    
  }

.instructions {
    margin-left: 10px;
    display: block;
    padding: 10px;
    color: black;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 14px;
    font-weight: 700;
    background: rgb(231, 226, 226);
    text-align: left;
    border: 40%;
    height: 200px;
    width: 45%;

}

#randomNumber {
    margin-left: 10px;
    display: block;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: white;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    background: black;
    text-align-last: 20px;
    height: 70px;
    border: 50%;
    width: 200px;
    float: left;
    overflow: hidden;

}

#aside {
    margin-left: 20px;
    display: block;
    padding: 20px;
    margin-bottom: 10px;
    color: white;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    background: pink;
    text-align-last: 20px;
    height: 70px;
   /*border: 50%;*/
    width: 200px;
    overflow: hidden;
    
}

.crystals{
    margin-left: 10px;
    display:flex;
    justify-content: flex-start;
    /*justify-content: space-around;*/
    /*align-content: center;*/
}


.crystal{
    border:1px solid blueviolet;
    height:200px;
    width:200px;

}

#yourscore {
  margin-left: 10px;
  margin-top: 10px;
  display: block;
  padding: 20px;
  margin-bottom: 10px;
  color: white;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  font-weight: 700;
  background: rgb(172, 112, 172);
 /* text-align-last: 20px;*/
  text-align: center;
  height: 70px;
 /*border: 50%;*/
  width: 200px;
  overflow: hidden;
  
}

#yourScoreTotal {
  text-align: center;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  color: black;
}